# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.venv

# Output & Temp Files
*.xml
content/
exports/
uploads/
quora_importer_chrome_profile/
tests/

# OS-specific
.DS_Store
Thumbs.db
